<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>{{ .Site.Title }} - {{ .Title }}</title>
<meta name="viewport" content="width = 788, minimum-scale = 0.25, maximum-scale = 1.60">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico">
<style type="text/css">
<!--
body { margin:0px; background-color:#f9f4ed; height:100% }
html { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
a:link { color:#0055a6; text-decoration:none }
a:visited { color:#60c; text-decoration:none }
a:hover { color:#ff2c00; text-decoration:none }
a:active { color:#003e63; text-decoration:none }
em { font-style:italic }
h1 { font-weight:bold; text-decoration:none; font-size:18px }
h1:first-child { margin-top:0px }
h2 { font-weight:bold; text-decoration:none; font-size:16px }
h2:first-child { margin-top:0px }
h3 { font-weight:bold; text-decoration:none; font-size:14px }
h3:first-child { margin-top:0px }
strong { font-weight:bold }
.HeadingRed24pxDayofYearSSofDay { color:#ae0020; font-family:Georgia,Palatino,Times,serif; font-size:24px; line-height:28px; margin:0px 0px 14px; text-indent:12px }
.HeadingRed24pxDayofYearSSofDay36Lead { color:#ae0020; font-family:Georgia,Palatino,Times,serif; font-size:24px; line-height:36px; margin:10px 0px 14px; text-indent:12px }
.Georgia16on28Standard { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:medium; line-height:28px; margin:0px; text-indent:12px; text-align:left }
.Georgia16on28Standard0b8a { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:medium; line-height:28px; margin:0px 0px 8px; text-indent:12px; text-align:left }
.HeadingRed20px { color:#ae0020; font-family:Georgia,Palatino,Times,serif; font-size:20px }
.CrossFontRed16px { color:#ae0020; font-family:Cross,Georgia,Times; font-size:medium }
.CopyrightNotice { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:10px; line-height:16px; margin:24px 0px 0px; text-indent:0px; text-align:right }
.CalendarMonthsSept { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:15px; line-height:24px; margin:0px; text-indent:12px }
.CalendarDayNumbers { color:#d0b990; font-family:Georgia,Palatino,Times,serif; font-size:15px; line-height:24px; margin:0px; text-indent:0px; text-align:justify }
.CalendarMonthsInclTrioPent { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:15px; line-height:24px; margin:12px 0px 0px; text-indent:12px }
.CalendarColumnAsterisks { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:15px; line-height:24px; margin:18px 0px; text-indent:20px }
.CalendarColumnWebsitesListed { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:15px; line-height:24px; margin:0px; text-indent:24px }
.CalendarColumnAllCaps15Kern { color:#3d2a19; font-family:Georgia,Palatino,Times,serif; font-size:15px; letter-spacing:0.15em; line-height:24px; margin:0px; text-indent:12px }
#PageDiv { position:relative; min-height:100%; max-width:788px; margin:auto }
#A-283-All-Saints-Icon-Banner.f-ms { position:absolute; left:0px; top:0px; width:788px; z-index:1; border:solid #998853 1px; overflow:visible }
#Main-text.f-ms { position:absolute; left:279px; top:309px; width:487px; min-height:1090px; z-index:7; overflow:visible }
#Calendar-Column.f-ms { position:absolute; left:20px; top:309px; width:220px; min-height:1800px; z-index:8; overflow:visible }
p.cal { margin-top: 20px; }
#datepicker { margin-left: 10%; }
#output { margin-left: 10%; margin-top: 10px; }
.hidden { display: none; }
#navigation { margin-top: 20px; margin-bottom: 10px; width: 100%; }
#prev { text-align: left; }
#next { text-align: right; }
@font-face { font-family: 'Cross'; src:url("{{ .Site.BaseURL }}fonts/CrossPlus.eot") format("eot"), url("{{ .Site.BaseURL }}fonts/CrossPlus.otf") format("opentype"); }
-->
</style>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/jquery-ui.min.css">
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery-ui.min.js"></script>
<script src="{{ .Site.BaseURL }}js/calendar.js"></script>
<script>
var monthNames = [
  "january",
  "february",
  "march",
  "april",
  "may",
  "june",
  "july",
  "august",
  "september",
  "october",
  "november",
  "december"
];
var displayMonthNames = [
  "Январь",
  "Февраль",
  "Март",
  "Апрель",
  "Май",
  "Июнь",
  "Июль",
  "Август",
  "Сентябрь",
  "Октябрь",
  "Ноябрь",
  "Декабрь"
];
function arrayFlip( trans ) {
	var key, tmp_ar = {};
	for( key in trans ) {
		tmp_ar[trans[key]] = key;
	}
	return tmp_ar;
}
var monthKeys = arrayFlip(monthNames);
Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
}
$( function() {
  $( "#datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true,
    onSelect: function (dateText, inst) {
        var year = $( "#datepicker" ).datepicker( "getDate" ).getFullYear();
        var month = $( "#datepicker" ).datepicker( "getDate" ).getMonth();
        var day = $( "#datepicker" ).datepicker( "getDate" ).getDate();
        var jd = gregorian_to_jd(year, month+1, day);
        var jdate = jd_to_julian(jd);
       $( "#output" ).html('<a href="{{ .Site.BaseURL }}feast-of-the-day/' + monthNames[jdate[1]-1] + '-' + jdate[2] + '/">' +
      displayMonthNames[jdate[1]-1] + ' ' + jdate[2] + '</a>');
    },
    firstDay: 1,
    dayNamesMin: [ "Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб" ],
    monthNamesShort: [ "Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ]
  });

  var selectedDay = $( "#navigation" ).attr("day");
  if (typeof selectedDay !== 'undefined') {
    var year = (new Date()).getFullYear();
    var isLeap = year % 400 == 0 || (year % 4 == 0 && year % 100 != 0);
    var dateParts = selectedDay.split('-');
    if (dateParts.length == 2) {
      var monthNum = 1 + parseInt(monthKeys[dateParts[0]]);
      var date = new Date(year + "/" + monthNum + "/" + dateParts[1]);
      if (!isNaN(date) && !(!isLeap && selectedDay == "february-29")) {
        var next = date.addDays(1);
        var prev = date.addDays(-1);
        var prevLink = "{{ .Site.BaseURL }}feast-of-the-day/" + monthNames[prev.getMonth()] + "-" + prev.getDate() + "/";
        var nextLink = "{{ .Site.BaseURL }}feast-of-the-day/" + monthNames[next.getMonth()] + "-" + next.getDate() + "/";
        var prevContent = "← " + displayMonthNames[prev.getMonth()] + " " + prev.getDate();
        var nextContent = displayMonthNames[next.getMonth()] + " " + next.getDate() + " →";
        $( "#prev > a" ).attr("href", prevLink);
        $( "#prev > a" ).html(prevContent);
        $( "#next > a" ).attr("href", nextLink);
        $( "#next > a" ).html(nextContent);
        $( "#navigation" ).removeClass("hidden");
      }
    }
  }
} );
</script>
</head>
<body>
<div id="PageDiv">
	<a href="{{ .Site.BaseURL }}"><img id="A-283-All-Saints-Icon-Banner" class="f-x2 f-ms" src="{{ .Site.BaseURL }}images/A-283-All-Saints-Icon-Banner.jpg" alt="A-283-All-Saints-Icon-Banner" usemap="#map1"></a>
  <div id="Main-text" class="f-x2 f-ms Georgia16on28Standard">
    {{ block "main" . }}
    {{ end }}
    <p class="Georgia16on28Standard0b8a cal"><span class="HeadingRed20px"><em>Конвертер дат из нового стиля в старый</em></span></p>
    <div id="datepicker"></div>
    <div id="output" class="HeadingRed20px"></div>
    <p class="CopyrightNotice">Данный сайт содержит переводы святцев
    <br />Святой Православной Церкви в Северной Америке (HOCNA): <a href="http://www.tyoos.org" target="_blank">www.tyoos.org</a>.</p>
  </div>
	<div id="Calendar-Column" class="f-x2 f-ms">
    <p class="CalendarColumnAsterisks">* * * * *</p>
		<p class="CalendarColumnAllCaps15Kern"><a href="{{ .Site.BaseURL }}">Главная</a></p>
    <p class="CalendarColumnAllCaps15Kern"><a href="https://medium.com/островок-истинного-православия/tagged/проповедь" target="_blank">Проповеди</a></p>
    <p class="CalendarColumnAllCaps15Kern"><a href="http://www.tyoos.org/" target="_blank">Англоязычный сайт</a></p>
    <p class="CalendarColumnAsterisks">* * * * *</p>
    <p class="CalendarMonthsSept">Сентябрь</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/september-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-22-to-28/">22–28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/september-30/">30</a></p>
		<p class="CalendarMonthsInclTrioPent">Октябрь</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/october-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-11-to-17/">11–17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-30/">30</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/october-31/">31</a></p>
		<p class="CalendarMonthsInclTrioPent">Ноябрь</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/november-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/november-30/">30</a></p>
		<p class="CalendarMonthsInclTrioPent">Декабрь</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/december-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-11-to-17/">11–17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-18-to-24/">18–24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-26-to-31/">26–31</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-30/">30</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/december-31/">31</a></p>
		<p class="CalendarMonthsInclTrioPent">Январь</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/january-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-22-to-28/">22–28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-30/">30</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/january-31/">31</a></p>
		<p class="CalendarMonthsInclTrioPent">Февраль</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/february-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/february-29/">29</a></p>
		<p class="CalendarMonthsInclTrioPent">Март</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/march-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-30/">30</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/march-31/">31</a></p>
		<p class="CalendarMonthsInclTrioPent">Апрель</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/april-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/april-30/">30</a></p>
		<p class="CalendarMonthsInclTrioPent">Май</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/may-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-30/">30</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/may-31/">31</a></p>
		<p class="CalendarMonthsInclTrioPent">Июнь</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/june-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/june-30/">30</a></p>
		<p class="CalendarMonthsInclTrioPent">Июль</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/july-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-13-to-19/">13–19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-30/">30</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/july-31/">31</a></p>
		<p class="CalendarMonthsInclTrioPent">Август</p>
		<p class="CalendarDayNumbers"><a href="{{ .Site.BaseURL }}feast-of-the-day/august-1/">1</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-2/">2</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-3/">3</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-4/">4</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-5/">5</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-6/">6</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-7/">7</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-8/">8</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-9/">9</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-10/">10</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-11/">11</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-12/">12</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-13/">13</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-14/">14</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-15/">15</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-16/">16</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-17/">17</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-18/">18</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-19/">19</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-20/">20</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-21/">21</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-22/">22</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-23/">23</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-24/">24</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-25/">25</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-26/">26</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-27/">27</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-28/">28</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-29/">29</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-30/">30</a> | <a href="{{ .Site.BaseURL }}feast-of-the-day/august-31/">31</a></p>
	</div>
</div>
</body>
</html>
