{{ define "main" }}
  <p class="HeadingRed24pxDayofYearSSofDay">{{ .Title }}</p>
  {{ if isset .Params "subtitle" }}
  <p class="HeadingRed24pxDayofYearSSofDay36Lead"><em>{{ .Params.subtitle }}</em></p>
  {{ end }}
  {{ range .Params.saints }}
	<p class="Georgia16on28Standard"><span class="CrossFontRed16px">+</span>&nbsp;&nbsp;{{ . }}</p>
  {{ end }}
  <table id="navigation" class="HeadingRed20px hidden" day="{{ .Page.File.BaseFileName }}">
    <tr>
      <td id="prev"><a href=""></a></td>
      <td id="next"><a href=""></a></td>
    </tr>
  </table>
{{ end }}
